@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Edu+NSW+ACT+Foundation:wght@500&family=Edu+QLD+Beginner:wght@400;500&family=Grand+Hotel&family=Lato:ital,wght@1,300&family=Poppins:ital,wght@1,200;1,300&family=Raleway&family=Rubik:wght@300&display=swap');


.navbar-brand {
    font-family: 'Grand Hotel', cursive;
}

.container {
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
}
